

.act_board{

    background-color: rgb(247, 245, 245);
    width: 100%;
    height: 700px;
    margin-bottom: 10px;
    padding-bottom: 50px;
  
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.page1_box{

    width: 400px;
    min-width: 350px;
    /* max-width: 351px; */
    margin-top: 2%;
    text-align: center;

   
 

}
.page2_box{

    width: 50px;
    min-width: 400px;
    /* max-width: 351px; */
    margin-top: 2%;
    text-align: center;

}
.page3_box{
 
    width: 50px;
    min-width: 400px;
    /* max-width: 351px; */
    margin-top: 2%;
    margin-right: 2%;
    text-align: center;

}
.page1{
    /* min-width: 350px; */
    width: 100%;
    height: auto;
    display: flex;
    
}
.page2{
    /* min-width: 350px; */
    width: 100%;
    height: auto;
}
.page3{
    /* min-width: 350px; */
    width: 100%;
    height: auto;
}

.title h2{
    font-size: 45px;
    margin-bottom: 10px;
    text-align: center;
    color: #d49466;
    padding-top: 30px;
}

#act_name{
    display: inline-block;
    font-size: 15px;
    margin-left: auto;
    color: rgb(92, 92, 92);
}

