.act_board{
    background-color: rgb(247, 245, 245);
    width: 100%;
    height: 450px;
    margin-bottom: 85px;

}
.act_board p{
    font-size: 45px;
    margin-bottom: 10px;
    margin-left: 44%;
   
}
.page1_box{
    float:left;
    width: 30%;
    height: 80%;
    margin-top: 2%;
    margin-left: 2%;
}
.page2_box{
    float:left;
    width: 30%;
    height: 80%;
    margin-top: 2%;
    margin-left: 3%;
}
.page3_box{
    float:right;
    width: 30%;
    height: 80%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.page1{
    width: 100%;
    height: 100%;
}
.page2{
    width: 100%;
    height: 100%;
}
.page3{
    width: 100%;
    height: 100%;
}