
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Raleway:wght@460&display=swap');
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
.mainpicture{
   
    height: 500px;
    width: 100%;
    background-image: url(./hwije.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.mainpicture{
    font-family: 'Raleway', sans-serif;
}
.mainpicture_main{
    animation-duration: 1.5s;
    animation-name: slidein;
}
.mainpicture_title{

    font-size: 100px;
    display: inline-block;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.mainpicture_body{
    display: inline-block;
    margin-left: 200px;
    margin-top:20px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 45px;
}

.mainpicture_tail{

    width: 1000px;
    margin-left: 200px;
    margin-top: 50px;
    font-size: 50px;
    color: black;
   
}