
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Raleway:wght@460&display=swap');
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.mainpicture{
    height: 500px;
    width: 100%;
    background-image: url(./yellow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    display:flex;
    justify-content: space-between;
    
}
.mainpicture{
    font-family: 'Raleway', sans-serif;
}
.mainpicture_main{
    animation-duration: 1.5s;
    animation-name: slidein;
    margin-left: 10%;
}


/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {
        .mainpicture_title{
        font-size: 68px;
        display: inline-block;
        margin-top: 100px;
       
     
        margin-bottom: 0px; 
    }

    .mainpicture_body{
        /* display: inline-block; */
        min-width: 270px;
 
        margin-top:20px;
        font-family: 'Nanum Pen Script', cursive;
        font-size: 45px;
        
    }

    .mainpicture_tail{
        
        width: 1000px;
  
        margin-top: 25px;
        font-size: 50px;
        /* color: black; */
    }
    .mainpicture{
        height: 500px;
        width: 100%;

    
        background-repeat: no-repeat;
        background-size: cover;
        color: rgb(0, 0, 0);        
    }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .mainpicture_title{
        font-size: 56px;
        font-weight: 600;
        display: inline-block;
       
        margin-top: 100px;
        margin-bottom: 0px;

    }

    .mainpicture_body{
        /* display: inline-block; */
        min-width: 270px;
   
        margin-top:20px;
        font-family: 'Nanum Pen Script', cursive;
        font-size: 40px;
    }
    .mainpicture_tail{

        width: 1000px;
     
        margin-top: 25px;
        font-size: 40px;
        /* color: black; */
       
    }
    .mainpicture{
        height: 450px;
        width: 100%;
        
        /* background-position: 1px -450px; */
        background-repeat: no-repeat;
        background-size: cover;
        color: rgb(0, 0, 0);
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    .mainpicture_title{
        font-size: 44px;
        font-weight: 600;
        display: inline-block;
       
        margin-top: 100px;
        margin-bottom: 0px;
    }

    .mainpicture_body{
        /* display: inline-block; */
        min-width: 270px;
  
        margin-top:20px;
        font-family: 'Nanum Pen Script', cursive;
        font-size: 30px;
    }
    .mainpicture_tail{
        width: 1000px;
   
        margin-top: 25px;
        font-size: 25px;
        /* color: black; */
    }

    .mainpicture{
        height: 400px;
        width: 100%;
    
        background-repeat: no-repeat;
        background-size: cover;
        color: rgb(0, 0, 0);
    }
}
 